/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

   div.highlighter-rouge,
   figure.highlight {
     position: relative;
     margin-bottom: 1em;
     background: $base07;
     color: $base00;
     font-family: $monospace;
     font-size: $type-size-6;
     line-height: 1.8;
     border-radius: $border-radius;
     border: 1px solid #aca9a9;
   
     > pre,
     pre.highlight {
       margin: 0;
       padding: 1em;
     }
   }
   
   .highlight table {
     margin-bottom: 0;
     font-size: 1em;
     border: 0;
   
     td {
       padding: 0;
       width: calc(100% - 1em);
       border: 0;
   
       /* line numbers*/
       &.gutter,
       &.rouge-gutter {
         padding-right: 1em;
         width: 1em;
         color: $base03;
         border-right: 1px solid $base03;
         text-align: right;
       }
   
       /* code */
       &.code,
       &.rouge-code {
         padding-left: 1em;
       }
     }
   
     pre {
       margin: 0;
     }
   }
   
   .highlight pre {
     width: 100%;
   }
   
   .highlight .hll {
     background-color: $base07;
   }
   .highlight {
     .c {
       /* Comment */
       color: $base04;
     }
     .err {
       /* Error */
       color: $base0f;
     }
     .k {
       /* Keyword */
       color: $base0e;
     }
     .l {
       /* Literal */
       color: $base0b;
     }
     .n {
       /* Name */
       color: $base00;
     }
     .o {
       /* Operator */
       color: $base03;
     }
     .p {
       /* Punctuation */
       color: $base0e;
     }
     .cm {
       /* Comment.Multiline */
       color: $base04;
     }
     .cp {
       /* Comment.Preproc */
       color: $base04;
     }
     .c1 {
       /* Comment.Single */
       color: $base04;
     }
     .cs {
       /* Comment.Special */
       color: $base04;
     }
     .gd {
       /* Generic.Deleted */
       color: $base08;
     }
     .ge {
       /* Generic.Emph */
       font-style: italic;
     }
     .gh {
       /* Generic.Heading */
       color: $base05;
       font-weight: bold;
     }
     .gi {
       /* Generic.Inserted */
       color: $base09;
     }
     .gp {
       /* Generic.Prompt */
       color: $base03;
       font-weight: bold;
     }
     .gs {
       /* Generic.Strong */
       font-weight: bold;
     }
     .gu {
       /* Generic.Subheading */
       color: $base03;
       font-weight: bold;
     }
     .kc {
       /* Keyword.Constant */
       color: $base0e;
     }
     .kd {
       /* Keyword.Declaration */
       color: $base0e;
     }
     .kn {
       /* Keyword.Namespace */
       color: $base03;
     }
     .kp {
       /* Keyword.Pseudo */
       color: $base0e;
     }
     .kr {
       /* Keyword.Reserved */
       color: $base0e;
     }
     .kt {
       /* Keyword.Type */
       color: $base0a;
     }
     .ld {
       /* Literal.Date */
       color: $base09;
     }
     .m {
       /* Literal.Number */
       color: $base0e;
     }
     .s {
       /* Literal.String */
       color: $base09;
     }
     .na {
       /* Name.Attribute */
       color: $base0d;
     }
     .nb {
       /* Name.Builtin */
       color: $base00;
     }
     .nc {
       /* Name.Class */
       color: $base02;
     }
     .no {
       /* Name.Constant */
       color: $base08;
     }
     .nd {
       /* Name.Decorator */
       color: $base03;
     }
     .ni {
       /* Name.Entity */
       color: $base00;
     }
     .ne {
       /* Name.Exception */
       color: $base08;
     }
     .nf {
       /* Name.Function */
       color: $base0d;
     }
     .nl {
       /* Name.Label */
       color: $base00;
     }
     .nn {
       /* Name.Namespace */
       color: $base0a;
     }
     .nx {
       /* Name.Other */
       color: $base0d;
     }
     .py {
       /* Name.Property */
       color: $base00;
     }
     .nt {
       /* Name.Tag */
       color: $base03;
     }
     .nv {
       /* Name.Variable */
       color: $base08;
     }
     .ow {
       /* Operator.Word */
       color: $base0c;
     }
     .w {
       /* Text.Whitespace */
       color: $base00;
     }
     .mf {
       /* Literal.Number.Float */
       color: $base0e;
     }
     .mh {
       /* Literal.Number.Hex */
       color: $base0e;
     }
     .mi {
       /* Literal.Number.Integer */
       color: $base0e;
     }
     .mo {
       /* Literal.Number.Oct */
       color: $base0e;
     }
     .sb {
       /* Literal.String.Backtick */
       color: $base09;
     }
     .sc {
       /* Literal.String.Char */
       color: $base00;
     }
     .sd {
       /* Literal.String.Doc */
       color: $base03;
     }
     .s2 {
       /* Literal.String.Double */
       color: $base09;
     }
     .se {
       /* Literal.String.Escape */
       color: $base0e;
     }
     .sh {
       /* Literal.String.Heredoc */
       color: $base09;
     }
     .si {
       /* Literal.String.Interpol */
       color: $base0e;
     }
     .sx {
       /* Literal.String.Other */
       color: $base09;
     }
     .sr {
       /* Literal.String.Regex */
       color: $base09;
     }
     .s1 {
       /* Literal.String.Single */
       color: $base09;
     }
     .ss {
       /* Literal.String.Symbol */
       color: $base09;
     }
     .bp {
       /* Name.Builtin.Pseudo */
       color: $base00;
     }
     .vc {
       /* Name.Variable.Class */
       color: $base08;
     }
     .vg {
       /* Name.Variable.Global */
       color: $base08;
     }
     .vi {
       /* Name.Variable.Instance */
       color: $base08;
     }
     .il {
       /* Literal.Number.Integer.Long */
       color: $base0e;
     }
   }
   
   .gist {
     th, td {
       border-bottom: 0;
     }
   }