.highlight {
  padding: 0;
  margin: 1em 0;
  overflow: auto;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  pre {
    margin: 0;
    padding: 0;
    font-size: $code-font-size;
    line-height: $code-line-height;
    font-family: $code-font-family;
  }

  code {
    font-size: $code-font-size;
    line-height: $code-line-height;
    font-family: $code-font-family;
    white-space: pre;
  }

  /* 코드 블록 테마 시작 */
  .language-bash,
  .language-shell,
  .language-sh,
  .language-zsh {
    background-color: $code-bg-color;
    color: $code-color;
    &.line-numbers {
      .line-numbers-rows {
        border-right-color: $code-border-color;
      }
    }
  }

  .language-c,
  .language-cpp,
  .language-csharp,
  .language-java,
  .language-objectivec,
  .language-php,
  .language-swift {
    background-color: $code-bg-color;
    color: $code-color;
    &.line-numbers {
      .line-numbers-rows {
        border-right-color: $code-border-color;
      }
    }
    .token.boolean,
    .token.keyword,
    .token.number,
    .token.operator,
    .token.regex,
    .token.string {
      color: $code-highlight-color;
    }
  }

  .language-css,
  .language-sass,
  .language-scss,
  .language-less {
    background-color: $code-bg-color;
    color: $code-color;
    &.line-numbers {
      .line-numbers-rows {
        border-right-color: $code-border-color;
      }
    }
    .token.atrule,
    .token.attr-name,
    .token.attr-value,
    .token.builtin,
    .token.constant,
    .token.entity,
    .token.function,
    .token.id,
    .token.keyword,
    .token.operator,
    .token.property,
    .token.pseudo-class,
    .token.pseudo-element,
    .token.selector,
    .token.string {
      color: $code-highlight-color;
    }
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: $code-comment-color;
    }
  }

  .language-go,
  .language-rust {
    background-color: $code-bg-color;
    color: $code-color;
    &.line-numbers {
      .line-numbers-rows {
        border-right-color: $code-border-color;
      }
    }
    .token.boolean,
    .token.keyword,
    .token.number,
    .token.operator,
    .token.regexp,
    .token.string {
      color: $code-highlight-color;
    }
    .token.comment {
      color: $code-comment-color;
    }
  }

  .language-groovy {
    background-color: $code-bg-color;
    color: $code-color;
    &.line-numbers {
      .line-numbers-rows {
        border-right-color: $code-border-color;
     
